@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary : #1E3A5F;
    --secondary : #7FDBDA;
    --background : #F5F5F5;
    --accent : #FEC107;
    --neutral : #FFFFFF;
    // background-color: var(--background);
    color: var(--primary);
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}